{% extends "base.html" %}
{% block content %}

<h2>Novo Usuário</h2>

<div class="card">

<form method="POST">

    <label>Usuário (login):</label>
    <input type="text" name="username" required>

    <label>Nome completo:</label>
    <input type="text" name="full_name">

    <label>Senha:</label>
    <input type="password" name="password" required>

    <label>Função:</label>
    <select name="role">
        <option value="OPERADOR">OPERADOR</option>
        <option value="SUPERVISOR">SUPERVISOR</option>
        <option value="ADMIN">ADMIN</option>
    </select>

    <label>Escritórios permitidos:</label>
    {% for o in offices %}
        <div>
            <input type="checkbox" name="offices" value="{{ o.key }}"> {{ o.display }}
        </div>
    {% endfor %}

    <button class="btn-primary">Criar Usuário</button>

</form>

</div>

{% endblock %}
