{% extends "base.html" %}
{% block content %}

<h2>Editar Usuário</h2>

<form method="POST" action="{{ url_for('users_edit', user_id=user.id) }}" class="card">

    <label>Nome:</label>
    <input type="text" name="nome" value="{{ user.nome }}" required>

    <label>Email:</label>
    <input type="email" name="email" value="{{ user.email }}" required>

    <label>Senha Nova (opcional):</label>
    <input type="password" name="senha">

    <button class="btn-primary">Salvar</button>
</form>

{% endblock %}
