{% extends "base.html" %}
{% block content %}

<h2>Editar Registro</h2>

<div class="card">

    <form method="POST" action="{{ url_for('records_update', registro_id=registro.id) }}">

        <label>Nome:</label>
        <input type="text" name="nome" value="{{ registro.nome }}">

        <label>CPF:</label>
        <input type="text" name="cpf" value="{{ registro.cpf }}">

        <label>Escritório:</label>
        <select name="escritorio">
            {% for o in offices %}
                <option value="{{ o.nome }}" {% if o.nome == registro.escritorio %}selected{% endif %}>
                    {{ o.nome }}
                </option>
            {% endfor %}
        </select>

        <label>Tipo da Ação:</label>
        <input type="text" name="tipo_acao" value="{{ registro.tipo_acao }}">

        <label>Data Fechamento:</label>
        <input type="date" name="data_fechamento" value="{{ registro.data_fechamento }}">

        <label>Pendências:</label>
        <textarea name="pendencias">{{ registro.pendencias }}</textarea>

        <label>Nº Processo:</label>
        <input type="text" name="numero_processo" value="{{ registro.numero_processo }}">

        <label>Data Protocolo:</label>
        <input type="date" name="data_protocolo" value="{{ registro.data_protocolo }}">

        <label>Observações:</label>
        <textarea name="observacoes">{{ registro.observacoes }}</textarea>

        <label>Captador:</label>
        <select name="captador">
            <option {% if registro.captador == 'NÃO PAGO' %}selected{% endif %}>NÃO PAGO</option>
            <option {% if registro.captador == 'PAGO' %}selected{% endif %}>PAGO</option>
        </select>

        <button class="btn-primary">Salvar</button>
    </form>

</div>

{% endblock %}
