{% extends "base.html" %}
{% block content %}

<h2>Registros Excluídos</h2>

<div class="card dark-card">

<table>
<thead>
<tr>
  <th>ID</th>
  <th>Nome</th>
  <th>CPF</th>
  <th>Escritório</th>
  <th>Tipo</th>
  <th>Fechamento</th>
  <th>Excluído em</th>
</tr>
</thead>

<tbody>
{% for r in rows %}
<tr>
  <td>{{ r.id }}</td>
  <td>{{ r.nome }}</td>
  <td>{{ r.cpf }}</td>
  <td>{{ r.escritorio_dono }}</td>
  <td>{{ r.tipo_acao }}</td>
  <td>{{ r.data_fechamento }}</td>
  <td>{{ r.data_exclusao }}</td>
</tr>
{% endfor %}
</tbody>
</table>

</div>

{% endblock %}
