{% extends "base.html" %}
{% block content %}

<h2>Lista de Registros</h2>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Escritório</th>
        <th>Tipo</th>
        <th>Ações</th>
    </tr>
    </thead>

    <tbody>
    {% for r in registros %}
        <tr>
            <td>{{ r.id }}</td>
            <td>{{ r.nome }}</td>
            <td>{{ r.cpf }}</td>
            <td>{{ r.escritorio }}</td>
            <td>{{ r.tipo_acao }}</td>
            <td>
                <a href="{{ url_for('records_edit', registro_id=r.id) }}">Editar</a>
                <a href="{{ url_for('records_delete', registro_id=r.id) }}">Excluir</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
